<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="content-grid mdl-grid">
        <%= render '/projects/shared/last_projects' %>
      </div>
      <div class="content-grid mdl-grid">
        <%= render '/projects/shared/last_successful_projects' %>
      </div>
    </div>
    <div class="col-md-3">
      <%= render '/payments/shared/biggest_payments' %>
      <hr>
      <%= render '/acts_as_taggable_on/tags/shared/tags_cloud' %>
      <hr>
      <%= render '/news_items/shared/last_news_items' %>
    </div>
  </div>
</div>