<h1><%= t '.last_created_projects' %></h1>
<div class="mdl-grid">
  <% last_projects.each do |project| %>
    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--6dp project-cell">
      <%= link_to project do %>
          <%= image_tag project.pic_link, class: 'card_image' %>
      <% end %>
      <h3 align="center"><%= link_to project.name, project, class: 'dark-link-color', style: 'text-decoration:none;' %></h3>
      <div class="col-md-12">
        <div class="project-properties-index">
          <div>
            <i class="glyphicon glyphicon-time"></i>
            <%= project.fundings_deadline %>
          </div>
          <div>
            <i class="fa fa-money"></i>
            <%= earned_money(project) %>$
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to (t '.see_more'), projects_path, class: 'btn btn-default btn-block' %>