<h1>List of Users</h1>

<%= form_tag users_path, method: :get, class: 'pull-right' do %>
    <%= submit_tag (I18n.t :all_filter), class: 'btn btn-default' %>
    <%= submit_tag (I18n.t :unchecked_filter), class: 'btn btn-default' %>
<% end %>

<%= form_tag change_users_path, method: :post do %>
    <%= submit_tag (I18n.t :block_action), class: 'btn btn-default' %>
    <%= submit_tag (I18n.t :unblock_action), class: 'btn btn-default'  %>
    <%= submit_tag (I18n.t :delete_action), class: 'btn btn-default'  %>
    <table class="table table-condensed">
      <tr>
        <th></th>
        <th><%= sortable 'email' %></th>
        <th><%= sortable 'role' %></th>
        <th class="hidden-xs hidden-sm"><%= sortable 'created_at', 'Registered at' %></th>
        <th class="hidden-xs hidden-sm"><%= sortable 'last_sign_in_at', 'Last login at' %></th>
        <th class="hidden-xs hidden-sm"><%= sortable 'Amount of projects' %></th>
        <th class="hidden-xs"><%= sortable 'raitings' %></th>
        <th><%= sortable 'is_blocked', 'Is Blocked' %></th>
      </tr>
      <% @users.each do |user| %>
          <tr class="<%= user.application.nil? || user.application.is_checked ? 'default' : 'success' %>">
            <td><%= check_box_tag("change[#{user.id}]", 1, false, style: "width: 20px; height: 20px;") %></td>
            <td><%= user.email %></td>
            <% if check_application_existence user %>
                <td><%= link_to user.role, check_application_path(user) %></td>
            <% else %>
                <td><%= user.role %></td>
            <% end %>
            <td class="hidden-xs hidden-sm"><%= user.created_at %></td>
            <td class="hidden-xs hidden-sm"><%= user.last_sign_in_at %></td>
            <td class="hidden-xs hidden-sm"><%= user.amount_of_projects %></td>
            <td class="hidden-xs"><%= user.raitings %></td>
            <td><%= user.is_blocked %></td>
          </tr>
      <% end %>
    </table>
<% end %>