<table class="table table-condensed">
  <tr>
    <th><%= sortable 'email' %></th>
    <th><%= sortable 'role' %></th>
    <th><%= sortable 'created_at', 'Registered at' %></th>
    <th><%= sortable 'last_sign_in_at', 'Last login at' %></th>
    <th><%= sortable 'Amount of projects' %></th>
    <th><%= sortable 'raitings' %></th>
  </tr>
  <% @users.each do |user| %>
      <tr class="success">
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.amount_of_projects %></td>
        <td><%= user.raitings %></td>
      </tr>
  <% end %>
</table>