<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% unless @user.application.nil? %>
          <h1><%= "#{@user.application.name} #{@user.application.surname}" %></h1>
      <% else %>
          <h1><%= @user.email %></h1>
      <% end %>

      <% unless @user.badges.empty? %>
          <% @user.badges.each do |badge| %>
              <%= image_tag badge.custom_fields[:image], title: (t ('merit.' + badge.name)), alt: badge.description %>
          <% end %>
      <% end %>
    </div>
    <div class="col-md-3">
      <div>Registered: <%= @user.created_at.strftime("%d.%m.%Y %H:%M") %></div>
      <div>Amount of created projects: <%= @user.projects.count %></div>
      <div>Amount of written comments: <%= @user.comments.count %></div>
    </div>
  </div>
</div>