<div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--16dp project-cell">
  <%= link_to project do %>
      <%= image_tag project.pic_link, style: 'max-width: 100%' %>
  <% end %>
  <h3 align="center"><%= link_to project.name, project, style: 'text-decoration:none;' %></h3>
  <div class="col-md-12">
    <div class="project-properties-index">
      <i class="glyphicon glyphicon-time"></i>
      <%= project.fundings_deadline %>
    </div>
    <div class="project-properties-index">
      <i class="fa fa-money"></i>
      <%= earned_money(project) %>$
    </div>
  </div>
</div>