<div class="container">
  <div class="row">
    <div class="col-md-9">
      Project by <%= link_to (user_name_and_surname @project), user_path(@project.user_id) %>
      <% @project.user.badges.last(5).each do |badge| %>
          <%= image_tag badge.custom_fields[:image], title: (t ('merit.' + badge.name)),
                        alt: badge.description, size: '23' %>
      <% end %>
      <h1><%= @project.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <img src="<%= @project.pic_link %>" alt="Placeholder" style="max-width: 100%">
      <h2><%= t '.about' %></h2>
      <div class="description">
        <%= kramdown @project.description %>
      </div>
      <h2><%= t '.tags' %></h2>
      <div class="tags">
        <%= render @project.tags %>
      </div>
      <h2><%= t '.comments' %></h2>
      <div class="comments">
        <%= render @project.comments %>
        <%= render '/comments/shared/comment_field' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="project-properties">
        <i class="glyphicon glyphicon-time"></i>
        <%= @project.fundings_deadline %>
      </div>
      <div class="project-properties">
        <i class="fa fa-money"></i>
        <%= @project.earned %>$
      </div>
      <div class="project-properties-small">
        <%= t '.pledged' %> <%= @project.goal %>$
      </div>
      <div class="project-properties">
        <%= t '.state' %>:
        <%= t 'projects.state.' + @project.state.to_s %>
      </div>
      <div class="donate">
        <%= link_to (t '.fund'), new_project_payment_path(@project), class: 'btn btn-default btn-block' %>
      </div>

      <% if check_for_rights %>
          <div class="admin_tools">
            <h3><%= t '.manage_project' %></h3>
            <%= link_to (t '.add_news'), new_project_news_item_path(@project), class: 'btn btn-default btn-block' %>
            <%= link_to (t '.edit_project'), edit_project_path(@project), class: 'btn btn-default btn-block' %>
            <%= link_to (t '.delete_project'), @project, method: :delete, class: 'btn btn-default btn-block' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
