<li><%= t '.language' %></li>
<li><%= link_to (t '.english'), locale: 'en' %></li>
<li><%= link_to (t '.russian'), locale: 'ru' %></li>
<li class="divider"></li>
<li><%= t '.theme' %></li>
<li><%= link_to (t '.apply_light_theme'), theme: 'application_light' %></li>
<li><%= link_to (t '.apply_dark_theme'), theme: 'application_dark' %></li>
<li><%= link_to (t '.apply_ginger_theme'), theme: 'application_ginger' %></li>